---
layout: default
---

<div class="home">

    <!--<h1 class="page-heading">Posts</h1>-->
    <p>
        This project born by chance, while I was dusting my rusty coding skills, aiming to design more in browser and less in illustrator.<br/>
        I tried some famous and unknown grid frameworks available on internet, it was horrible, i felt like i was designing a book with excel instead indesign.<br/>
        So i started to write this tiny sass library to use for my responsive prototypes.<br/>
        Here we are, it is not finished nor distribution ready, but it's here so that you can help by contributing.
    </p>


    <h2>Usage Examples:</h2>
    
    {% assign examples = (site.pages | where: "layout" , "example") %}
    
    <ul class="post-list">

        {% for page in examples %}
            <li>
                {% if page.title %}
                    
                    {{forloop.index}}) <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    <br/>
                    {{ page.subtitle }}

                {% endif %}
            </li>
        {% endfor %}

    </ul>

</div>
